<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3d8ae457-0b49-4791-85c9-a5be40c7c25c/resourceGroups/gahealthcarenurses/providers/Microsoft.Web/sites/GaHealthcareNursesWebApi</ResourceId>
    <ResourceGroup>gahealthcarenurses</ResourceGroup>
    <ApiResourceId>/subscriptions/3d8ae457-0b49-4791-85c9-a5be40c7c25c/resourceGroups/gahealthcarenurses/providers/Microsoft.ApiManagement/service/gahealthcare/apis/gahealthcarenurses</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gahealthcarenurseswebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>93f0535d-542d-4f25-94d6-048a7080d1a3</ProjectGuid>
    <MSDeployServiceURL>gahealthcarenurseswebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GaHealthcareNursesWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GaHealthcareNursesWebApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>