@using GaHealthcareNurses.Entity.ViewModels
@using GaHealthcareNurses.Entity.Models
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IToastService toastService
@inject NavigationManager navigation

<div class="d-flex">
    <div class="user_data">
        <div class="user_info">
            <span class="user_email">@(clientData?.UserDetails?.Email ?? string.Empty)</span>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown"><i class="fas fa-caret-down"></i></a>
                <ul class="dropdown-menu animated">
                    <li><a @onclick="Logout">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="client/dashboard" @onclick='(args) => MenuItemSelected(args, "Service Requests History")' Match="NavLinkMatch.All">
                <i class="fas fa-th-large"></i> Service History
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="client/request-service" @onclick='(args) => MenuItemSelected(args, "Request New Service")'>
                <i class="fas fa-tasks"></i> Request New Service
            </NavLink>
        </li>
    </ul>
</div>

@code{
    [Parameter]
    public EventCallback<string> OnMenuItemSelected { get; set; }

    LoginViewModel<UserDetails> clientData = new LoginViewModel<UserDetails>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            clientData = await localStorage.GetItemAsync<LoginViewModel<UserDetails>>("clientData");
            if (clientData == null)
                navigation.NavigateTo("client/sign-in");
        }
        StateHasChanged();
    }

    public async Task Logout()
    {
        await localStorage.RemoveItemAsync("clientData");
        await localStorage.RemoveItemAsync("serviceRequest");
        await localStorage.RemoveItemAsync("patientInfo");
        toastService.ShowSuccess("Logout successfull!");
        Task.Delay(2000);
        navigation.NavigateTo("client", forceLoad: true);
    }

    public async Task MenuItemSelected(MouseEventArgs e, string title)
    {
        await OnMenuItemSelected.InvokeAsync(title);
        StateHasChanged();
    }
}
