<!-- Start Footer
============================================= -->
<footer class="bg-dark text-light active-first1">
    <div class="container">
        <div class="row">
            <div class="f-items default-padding bottom-less">

                <!-- Single Item -->
                <div class="col-md-4 equal-height item">
                    <div class="f-item link">
                        <a href="/">
                        <img src="assets/img/logo.png" class="foot-logo" />
                            </a>

                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 equal-height item">
                    <div class="f-item link">
                        <h4>Our Department</h4>
                        <ul>
                            <li>
                                <a href="/"><i class="fas fa-arrow-right"></i>Home</a>
                            </li>
                            <li>
                                <a href="agency"><i class="fas fa-arrow-right"></i> Agencies</a>
                            </li>
                            <li>
                                <a href="nurses"><i class="fas fa-arrow-right"></i> Nurses</a>
                            </li>
                            <li>
                                <a href="client"><i class="fas fa-arrow-right"></i> Care Recipient</a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-arrow-right"></i> Contact</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 equal-height item ">
                    <div class="f-item link ">
                        <h4>Follow On:</h4>
                        <div class="social foot-social">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/ushealthcarenurses" target="_blank"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/ushealthcarenurses" target="_blank"><i class="fab fa-twitter"></i> <span>Twitter</span></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/ushealthcarenurses/" target="_blank"><i class="fab fa-linkedin-in"></i> <span>Linkedin</span></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/ushealthcarenurses/" target="_blank"><i class="fab fa-instagram"></i><span> Instagram</span></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="text-center footer-bottom bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; Copyright  2021 USHealth Care Nurses</p>
                </div>

            </div>
        </div>
    </div>

    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->