<!-- Start Footer
============================================= -->
<footer class="bg-theme  active-first1 sign_foot">
    <div class="container">
        <div class="row">
            <div class="f-items default-padding bottom-less">

                <!-- Single Item -->
                <div class="col-md-3 equal-height item">
                    <div class="f-item link">
                        <a href="/">
                            <img src="assets/img/logo.png" class="foot-logo" />
                        </a>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="col-md-6 equal-height item">
                            <div class="f-item link">
                                <!--   <h4>GO TO</h4> -->
                                <ul>
                                    <li>
                                        @*<a href="https://gahealthcareweb.azurewebsites.net/">Home</a>*@
                                        <a href="https://www.ushealthcarenurses.com">Home</a>
                                 
                                    </li>
                                    <li>
                                        <a href="agency"> Agencies</a>
                                    </li>
                                    <li>
                                        <a href="nurses"> Nurses</a>
                                    </li>
                                    <li>
                                        <a href="client"> Care Recipients</a>
                                    </li>
                                    @*<li>
                        <a href="#"><i class="fas fa-arrow-right"></i> Contact</a>
                    </li>*@
                                </ul>
                            </div>
                        </div>
                        @*<div class="col-md-6 equal-height item">
            <span id="siteseal"></span>
        </div>*@
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <!--<div class="col-md-6 equal-height item ">
        <div class="f-item link ">-->
                        <!--  <h4>FOLLOW US ON:</h4>-->
                        <!--<div class="social foot-social">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/ushealthcarenurses" target="_blank"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ushealthcarenurses" target="_blank"><i class="fab fa-twitter"></i> <span>Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/ushealthcarenurses/" target="_blank"><i class="fab fa-linkedin-in"></i> <span>Linkedin</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ushealthcarenurses/" target="_blank"><i class="fab fa-instagram"></i><span> Instagram</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
                        <!-- End Single Item -->
                    </div>
                    <!-- Start Footer Bottom -->
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="footer-botleft">
                                    <ul>
                                        @*<li><a href="https://gahealthcareweb.azurewebsites.net/">Home</a></li>*@
                                        <li><a href="https://www.ushealthcarenurses.com/">Home</a></li>
                                        <li><a href="assets/docs/ushealthcarenurses-terms.pdf">Terms</a></li>
                                        <li><a href="assets/docs/ushealthcarenurses-policy.pdf">Privacy</a></li>
                                        <li class="text-light"><p>&copy; Copyright  2021 ushealthcarenurses.com</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 social text-right">
                                <ul>
                                    <li><a href="https://www.facebook.com/ushealthcarenurses" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/ushealthcarenurses" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                    <li><a href="https://www.linkedin.com/company/ushealthcarenurses/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.instagram.com/ushealthcarenurses/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li>
                                        <a href="https://discord.gg/YkhGxANa" target="_blank"><i class="fab fa-discord"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- End Footer Bottom -->
                    </div>
                </div>
                </div>
            </div>
  
</footer>
