@using GaHealthcareNurses.Entity.ViewModels
@using GaHealthcareNurses.Entity.Models
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IToastService toastService
@inject NavigationManager navigation


<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky bootsnav on no-full">

        <div class="container">

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="assets/img/logo.png" class="logo logo-display" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                    <li class="dropdown active">
                        <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu animated">
                            @if (adminData == null)
                            {
                                <li><a href="admin/sign-in">Admin Login</a></li>
                            }
                            else
                            {
                                <li><a href="admin">Admin Dashboard</a></li>
                                <li><a @onclick="Logout">Admin LogOut</a></li>
                            }
                        </ul>
                    </li>

                    <li>
                        <a href="client">Care Recipients</a>

                    </li>
                    <li>
                        <a href="agency">Agencies</a>

                    </li>
                    <li>
                        <a href="nurses">Nurses</a>

                    </li>
                    <li>
                        <a href="http://www.ushealthcarenurses.blog/" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="https://us-healthcare-nurses.myshopify.com/" target="_blank">Shop</a>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                        <ul class="dropdown-menu animated">
                            <li><a href="education">Education</a></li>
                            <li><a href="salary-calculator">Salary Calculator</a></li>
                        </ul>
                    </li>
                    @*<li>
            <a href="education">Education</a>
        </li>*@
                <li>
                    <a href="https://help.ushealthcarenurses.com/" target="_blank">Help</a>
                </li>
                    @*@if (agencyData != null)
        {
            @if (agencyData.UserDetails != null)
            {
                <li><span class="user-email">@agencyData.UserDetails?.Email </span></li>
            }
        }

        @if (clientData != null)
        {
            @if (clientData.UserDetails != null)
            {
                <li><span class="user-email">@clientData.UserDetails?.Email</span></li>
            }
        }

        @if (adminData != null)
        {
            <li><span class="user-email">@adminData?.Data </span></li>
        }*@


                    @*<li>
            <a href="">contact</a>
        </li>*@
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->

</header>
<!-- End Header -->
@code{
    Response<string> adminData = new Response<string>();
    LoginViewModel<UserDetails> agencyData = new LoginViewModel<UserDetails>();
    LoginViewModel<UserDetails> clientData = new LoginViewModel<UserDetails>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            adminData = await localStorage.GetItemAsync<Response<string>>("adminData");
            agencyData = await localStorage.GetItemAsync<LoginViewModel<UserDetails>>("agencyData");
            clientData = await localStorage.GetItemAsync<LoginViewModel<UserDetails>>("clientData");
        }
        StateHasChanged();
    }

    public async Task Logout()
    {
        await localStorage.RemoveItemAsync("adminData");
        toastService.ShowSuccess("Logout successfull!");
        // Task.Delay(2000);
        navigation.NavigateTo("/", forceLoad: true);
    }
}