<div class="top-bar-area inline bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-md-8 address-info text-left">
                <div class="info box">
                    <ul>
                        <li>
                            <i class="fas fa-envelope-open"></i> info@ushealthcarenurses.com
                        </li>
                        <li>
                            @*<i class="fas fa-phone"></i> +1 404-792-9900 ext. 102*@
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 social text-right">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/ushealthcarenurses" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ushealthcarenurses" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/ushealthcarenurses/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ushealthcarenurses/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://discord.gg/YkhGxANa" target="_blank"><i class="fab fa-discord"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Header Top -->