@layout GaHealthcareNurses.Client.Shared.SecondaryLayout
@page "/nurse/registered";

<GaHealthcareNurses.Client.Shared.NurseHeader />

<div class="frontend default-padding signin_page">
    <div class="login_sec">
        <div class="center_login">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2 data-aos="fade-up">Thanks for <span>sign-up</span></h2>

                    </div>
                </div>
            </div>
            <div class="login_box">
                <div class="inner_box nurse_reg">
                    <h3>Your account has been created on our platform.Please complete the registration process via our mobile app. Link has been sent to your mobile number and email address.</h3>
                    <div class="thumb">
                        <a href="https://play.google.com/store/apps/details?id=com.gahealthcarenurses.dev" target="_blank"> <img src="assets/img/google_pay.png" alt="Thumb" class="zoom_duration aos-init aos-animate" data-aos="zoom-in"></a>
                        <a href="https://apps.apple.com/in/app/ushealthcarenurses/id1553040897" target="_blank"> <img src="assets/img/app_store.png" alt="Thumb" class="zoom_duration aos-init aos-animate" data-aos="zoom-in"></a>
                    </div>
                    <div class="formFooterLink text-center">
                        <p class="subheading"> <span>Or<a href="nurse/sign-in"> Sign In</a></span></p>
                        <!-- <p class="subheading"> Or <span><br/><a href="#">Sign Up</a> | <a href="#">Forgot Password</a></span></p> -->
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<GaHealthcareNurses.Client.Shared.FormFooter />